<!-- ============================================================== -->
<!-- Page Content -->
<!-- ============================================================== -->
<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row bg-title">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <h4 class="page-title">Home</h4>
            </div>

            <!-- /.col-lg-12 -->




        </div>
        <div class="row-fluid">

            <div id="band" class="container text-center">
                <h3>SUSTAINABLE DESIGN PATTERNS</h3>
                <p><em>In the Way to achieve sustainability through Design Patterns</em></p>
                <p>

                    The patterns here created need to be shared in the world and through this website where users can comment and rate the different
                    patterns after seeing the design pattern itself and an example its application, there is also the possibility
                    to send an private message to the creators if users want to maintain privacy.

                    Proceed to the different design patterns.





                </p>
                <br>

            </div>

            <div class="row justify-content-end">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active">Home</li>
                    <li class="breadcrumb-item"><a href="/pattern1">Pattern1</a></li>
                    <li class="breadcrumb-item"><a href="/pattern2">Pattern2</a></li>
                    <li class="breadcrumb-item"><a href="/pattern3">Pattern3</a></li>
                    <li class="breadcrumb-item"><a href="/pattern4">Pattern4</a></li>
                    <li class="breadcrumb-item"><a href="/pattern5">Pattern5</a></li>
                    <li class="breadcrumb-item"><a href="/pattern6">Pattern6</a></li>
                    <li class="breadcrumb-item"><a href="/pattern7">Pattern7</a></li>
                    <li class="breadcrumb-item"><a href="/pattern8">Pattern8</a></li>
                    <li class="breadcrumb-item"><a href="/pattern9">Pattern9</a></li>
                </ol>
            </div>