============================================================== -->
<!-- Page Content -->
<!-- ============================================================== -->
<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row bg-title">

            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <h4 class="page-title">Pattern 7: Green Procurement
            </div>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active">Pattern 7</li>
            </ol>
            </h4>
        </div>
        <!-- /.col-lg-12 -->
        <!-- /row -->
        <div class="row ">

            <div class=" col-lg-6 col-md-6 col- col-sm-6 col-xs-12 ">

                <div class="white-box">
                    <p class="text-muted">Pattern Description </p>

                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Pattern Name: </th>
                                    <th>GREEN PROCUREMENT</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Context/Intent </td>
                                    <td>This pattern showcases when new software/hardware is bought, members across an organization
                                        can share these resources.
                                    </td>
                                </tr>
                                <tr>
                                    <td>Problem </td>
                                    <td>When tools are not shared across departments inside organizations, there exists an over
                                        expending and not sharing across departments.</td>

                                </tr>
                                <tr>
                                    <td>Forces

                                    </td>
                                    <td>
                                        Equipment such as printers, scanners, measurement equipment, projectors, laptops, specialized software that has expensive
                                        licenses installed in single computers.
                                    </td>

                                </tr>
                                <tr>
                                    <td>Solutions</td>
                                    <td>
                                        <ul style="list-style-type:circle">
                                            <li> List of tools available for use for other departments </li>
                                            <li> When new equipment/software is bought for a department, other departments are
                                                also aware</li>
                                    </td>

                                </tr>
                                <tr>
                                    <td>Consequences</td>
                                    <td>
                                        <ul style="list-style-type:circle">
                                            <li> Less equipment is bought.</li>
                                            <li> Unused equipment is shared in other places.</li>
                                            <li> Life use is increased.</li>
                                    </td>

                                </tr>
                                <tr>
                                    <td>Related Patterns</td>
                                    <td>COMPUTER RE-USE, SOCIAL SHARING</td>

                                </tr>
                            </tbody>
                        </table>
                    </div>


                </div>
            </div>

            <div class=" col-lg-6 col-md-6 col- col-sm-6 col-xs-12 ">
                <div class="white-box">
                    <p class="text-muted">Pattern Example </p>
                    <img class="resize" src='./plugins/images/pat/7greenproc.png' />
                </div>
            </div>



        </div>

  <div class="row ">
                    <div class="white-box">
                        <h3 class="box-title">Comment Now</h3>

                        <div class="comment-center p-t-10">
                            <div class="comment-body">

                                <div class="mail-contnet">

                                    <form id="commentForm" action="pattern7" method="post">
                                        <table>
                                            <tr>
                                                <td>
                                                    Name:
                                                </td>
                                                <td>
                                                    <input id="commenter" type="text" placeholder="John Doe" name="commenter" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Email:
                                                </td>
                                                <td>
                                                    <input id="commenter" type="text" placeholder="john@doe.com" name="email" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Comment
                                                </td>
                                                <td>
                                                    <textarea id="commentBody" rows="3" cols="50" placeholder="Patterns are the best!" name="commentBody"></textarea>
                                                    <input type="hidden" name="patternid" value="7">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Rate</td>
                                                <td>
                                                    <fieldset id='pattern' class="rating" name="pattern">
                                                        <input class="stars" type="radio" id="star5" name="rating" value="5" />
                                                        <label class="full" for="star5" title="Awesome - 5 stars"></label>
                                                        <input class="stars" type="radio" id="star4" name="rating" value="4" />
                                                        <label class="full" for="star4" title="Pretty good - 4 stars"></label>
                                                        <input class="stars" type="radio" id="star3" name="rating" value="3" />
                                                        <label class="full" for="star3" title="Meh - 3 stars"></label>
                                                        <input class="stars" type="radio" id="star2" name="rating" value="2" />
                                                        <label class="full" for="star2" title="Kinda bad - 2 stars"></label>
                                                        <input class="stars" type="radio" id="star1" name="rating" value="1" />
                                                        <label class="full" for="star1" title="I dont i like it - 1 star"></label>
                                                    </fieldset>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td><button class="submitButton" type="submit" id="commentSubmit">submit</button></td>
                                            </tr>
                                        </table>

                                    </form>

                                </div>
                            </div>
                        </div>



        <div class="row ">
            <div class="white-box">
                <h3 class="box-title">Recent Comments</h3>
                <div class="comment-center p-t-10">
                    <div class="comment-body">
                        <div class="mail-contnet">
                            <!-- display jade -->
