<!-- end display -->
</div>
</div>
</div>
</div>



        <div class="comment-center p-t-10">
            <div class="comment-body">
                <div class="mail-contnet">
                    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSel_Y16E27cFzlHbKM8v92ET6c9xwNkwsfLbb2h74DGecVSuA/viewform?embedded=true"
                        width="690" height="1000" frameborder="500" marginheight="400" marginwidth="0">Loading...</iframe>
                </div>
            </div>
        </div>




    </div>
</div>
</div>
<!-- /.row -->

<div class="row justify-content-end">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active">Pattern 1</li>
        <li class="breadcrumb-item"><a href="/pattern2">Pattern2</a></li>
    </ol>

</div>