============================================================== -->
<!-- Page Content -->
<!-- ============================================================== -->
<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row bg-title">

            <div class="col-lg-5 col-md-7 col-sm-7 col-xs-12">
                <h4 class="page-title">Pattern 3: Electronic Lifecycle Extension
            </div>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active">Pattern 3</li>
            </ol>
            </h4>
        </div>
        <!-- /.col-lg-12 -->
        <!-- /row -->
        <div class="row ">

            <div class=" col-lg-6 col-md-6 col- col-sm-6 col-xs-12 ">


                <div class="white-box">
                    <p class="text-muted">Pattern Description </p>

                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Pattern Name: </th>
                                    <th>ELECTRONICS LIFECYCLE EXTENSION</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Context/Intent </td>
                                    <td>This pattern will showcase components (screen, battery, memory, processor) life and avoid
                                        disposal of still usable electronics and if disposed reuse for person in need recommended.

                                    </td>
                                </tr>
                                <tr>
                                    <td>Problem </td>
                                    <td>Electronics are disposed even when components (screens, chips, metals, plastics) are
                                        still working or available to be repaired.</td>

                                </tr>
                                <tr>
                                    <td>Forces

                                    </td>
                                    <td>
                                        <ul style="list-style-type:circle">
                                            <li> Relatively new electronics such as cellphones are replaced by new ones in a lapse
                                                from 6 months to 2 years.</li>
                                            <li> Electronics components have long life expectancy.</li>
                                            <li> Materials are not biodegradable and hard to extract.</li>

                                        </ul>
                                    </td>

                                </tr>
                                <tr>
                                    <td>Solutions</td>
                                    <td>
                                        <ul style="list-style-type:circle">
                                            <li>Show life expectancy of components </li>
                                            <li> If some component suggests repair/replacement</li>
                                            <li> Provide guides to repair the own cellphone </li>
                                            <li> Provide sources where to find parts</li>
                                            <li> Encourage repair with motivational phrases</li>
                                            <li> Provide solutions if repair is not effective</li>
                                    </td>

                                </tr>
                                <tr>
                                    <td>Consequences</td>
                                    <td>
                                        <ul style="list-style-type:circle">
                                            <li> Less electronics are disposed into the environment. </li>
                                            <li> Life expectancy of electronics increased.</li>
                                            <li> Users become more aware of their environmental impact.</li>
                                    </td>

                                </tr>
                                <tr>
                                    <td>Related Patterns</td>
                                    <td>SOCIAL SHARING, ALTERNATIVE ELECTRONICS APPLICATIONS, ELECTRONICS AS DECORATION</td>

                                </tr>
                            </tbody>
                        </table>
                    </div>


                </div>
            </div>

            <div class=" col-lg-6 col-md-6 col- col-sm-6 col-xs-12 ">
                <div class="white-box">
                    <p class="text-muted">Pattern Example </p>
                    <img class="resize" src='./plugins/images/pat/3elce.png' />
                </div>
            </div>
        </div>

        <div class="row ">
            <div class="white-box">
                <h3 class="box-title">Comment Now</h3>

                <div class="comment-center p-t-10">
                    <div class="comment-body">

                        <div class="mail-contnet">

                            <form id="commentForm" action="pattern3" method="post">
                                <table>
                                    <tr>
                                        <td>
                                            Name:
                                        </td>
                                        <td>
                                            <input id="commenter" type="text" placeholder="John Doe" name="commenter" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Email:
                                        </td>
                                        <td>
                                            <input id="commenter" type="text" placeholder="john@doe.com" name="email" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Comment
                                        </td>
                                        <td>
                                            <textarea id="commentBody" rows="3" cols="50" placeholder="Patterns are the best!" name="commentBody"></textarea>
                                            <input type="hidden" name="patternid" value="3">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Rate</td>
                                        <td>
                                            <fieldset id='pattern' class="rating" name="pattern">
                                                <input class="stars" type="radio" id="star5" name="rating" value="5" />
                                                <label class="full" for="star5" title="Awesome - 5 stars"></label>
                                                <input class="stars" type="radio" id="star4" name="rating" value="4" />
                                                <label class="full" for="star4" title="Pretty good - 4 stars"></label>
                                                <input class="stars" type="radio" id="star3" name="rating" value="3" />
                                                <label class="full" for="star3" title="Meh - 3 stars"></label>
                                                <input class="stars" type="radio" id="star2" name="rating" value="2" />
                                                <label class="full" for="star2" title="Kinda bad - 2 stars"></label>
                                                <input class="stars" type="radio" id="star1" name="rating" value="1" />
                                                <label class="full" for="star1" title="I dont i like it - 1 star"></label>
                                            </fieldset>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td><button class="submitButton" type="submit" id="commentSubmit">submit</button></td>
                                    </tr>
                                </table>

                            </form>

                        </div>
                    </div>
                </div>

                <div class="row ">
                    <div class="white-box">
                        <h3 class="box-title">Recent Comments</h3>
                        <div class="comment-center p-t-10">
                            <div class="comment-body">
                                <div class="mail-contnet">
                                    <!-- display jade -->