<!--============================================================== -->
<!-- Page Content -->
<!-- ============================================================== -->
<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row bg-title">

            <div class="col-lg-5 col-md-7 col-sm-7 col-xs-12">
                <h4 class="page-title">Pattern 4: Alternative Electronic Applications
            </div>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active">Pattern 4</li>
            </ol>
            </h3>
        </div>
        <!-- /.col-lg-12 -->
        <!-- /row -->
        <div class="row ">

            <div class=" col-lg-6 col-md-6 col- col-sm-6 col-xs-12 ">


                <div class="white-box">
                    <p class="text-muted">Pattern Description </p>

                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Pattern Name: </th>
                                    <th>ALTERNATIVE ELECTRONIC APPLICATIONS</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Context/Intent </td>
                                    <td>This pattern showcases when at the end of an electronic equipment lifecycle alternatives
                                        for reusing its electrical components.

                                    </td>
                                </tr>
                                <tr>
                                    <td>Problem </td>
                                    <td>When electronic devices are at the end of their lifecycle all parts are discarded even
                                        if they are functional, devices have useful components such as sensors, screens,
                                        fans which can be used to other It purposes</td>

                                </tr>
                                <tr>
                                    <td>Forces

                                    </td>
                                    <td>
                                        <ul style="list-style-type:circle">
                                            <li> People dispose all devices components when just a part fails </li>
                                            <li> Old equipment accumulates in landfills.</li>
                                            <li> They are sent to development countries hindering the environment and the people.</li>

                                        </ul>
                                    </td>

                                </tr>
                                <tr>
                                    <td>Solution</td>
                                    <td>
                                        <ul style="list-style-type:circle">
                                            <li> Sensors can be reused for Iot applications. </li>
                                            <li> Screens can be used for displaying IoT devices.</li>
                                            <li> Cameras can be use as security cameras. </li>
                                            <li> As Fixed GPS for the car. </li>
                                    </td>

                                </tr>
                                <tr>
                                    <td>Consequences</td>
                                    <td>
                                        <ul style="list-style-type:circle">
                                            <li> Less devices are thrown in the garbage. </li>
                                            <li> Electronic waste is reduced hence less chemical are exposed in the environment.</li>
                                            <li> Development countries have less waste from first world countries.</li>
                                            <li> Other applications increase comfort.</li>
                                    </td>

                                </tr>
                                <tr>
                                    <td>Related Patterns</td>
                                    <td>OTHER IT APPLICATIONS, SOCIAL SHARING.</td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>

            <div class=" col-lg-6 col-md-6 col- col-sm-6 col-xs-12 ">
                <div class="white-box">
                    <p class="text-muted">Pattern Example </p>
                    <img class="resize" src='./plugins/images/pat/4elau.png' />
                </div>
            </div>

        </div>
    </div>

      <div class="row ">
            <div class="white-box">
                <h3 class="box-title">Comment Now</h3>

                <div class="comment-center p-t-10">
                    <div class="comment-body">

                        <div class="mail-contnet">

                            <form id="commentForm" action="pattern4" method="post">
                                <table>
                                    <tr>
                                        <td>
                                            Name:
                                        </td>
                                        <td>
                                            <input id="commenter" type="text" placeholder="John Doe" name="commenter" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Email:
                                        </td>
                                        <td>
                                            <input id="commenter" type="text" placeholder="john@doe.com" name="email" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Comment
                                        </td>
                                        <td>
                                            <textarea id="commentBody" rows="3" cols="50" placeholder="Patterns are the best!" name="commentBody"></textarea>
                                            <input type="hidden" name="patternid" value="4">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Rate</td>
                                        <td>
                                            <fieldset id='pattern' class="rating" name="pattern">
                                                <input class="stars" type="radio" id="star5" name="rating" value="5" />
                                                <label class="full" for="star5" title="Awesome - 5 stars"></label>
                                                <input class="stars" type="radio" id="star4" name="rating" value="4" />
                                                <label class="full" for="star4" title="Pretty good - 4 stars"></label>
                                                <input class="stars" type="radio" id="star3" name="rating" value="3" />
                                                <label class="full" for="star3" title="Meh - 3 stars"></label>
                                                <input class="stars" type="radio" id="star2" name="rating" value="2" />
                                                <label class="full" for="star2" title="Kinda bad - 2 stars"></label>
                                                <input class="stars" type="radio" id="star1" name="rating" value="1" />
                                                <label class="full" for="star1" title="I dont i like it - 1 star"></label>
                                            </fieldset>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td><button class="submitButton" type="submit" id="commentSubmit">submit</button></td>
                                    </tr>
                                </table>

                            </form>

                        </div>
                    </div>
                </div>

    <div class="row ">
        <div class="white-box">
            <h3 class="box-title">Recent Comments</h3>
            <div class="comment-center p-t-10">
                <div class="comment-body">
                    <div class="mail-contnet">
                        <!-- display jade -->
