
                        <!-- end display -->
                    </div>
                </div>
            </div>
        </div>

    
                <div class="comment-center p-t-10">
                    <div class="comment-body">
                        <div class="mail-contnet">
                            <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeny4Cz4CYe80CQnKoERDwZGkTC-yRLlmAaN518iu6m11GNBw/viewform?embedded=true"
                                width="690" height="1000" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
                        </div>
                    </div>
                </div>

                <div class="row justify-content-end">

                    <ol class="breadcrumb">
                        <li class="breadcrumb-item active">Pattern 6</li>
                        <li class="breadcrumb-item"><a href="/pattern7">Pattern7</a></li>
                    </ol>

                </div>