<!-- Page Content -->
<!-- ============================================================== -->



<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row bg-title">

            <!--<div class="col-lg-2 col-md-4 col-sm-4 col-xs-12">-->
            <h4 class="page-title">Pattern 1: Green Printing
                <!--</div>-->
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item active">Pattern 1</li>
                </ol>
            </h4>
        </div>
        <!-- /.col-lg-12 -->
        <!-- /row -->
        <div class="row ">

            <div class=" col-lg-6 col-md-6 col- col-sm-6 col-xs-12 ">
                <div class="white-box">
                    <p class="text-muted">Pattern Description </p>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Pattern Name: </th>
                                    <th>GREEN PRINTING</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Context/Intent </td>
                                    <td>This pattern is to reduce/stop printing unless necessary

                                    </td>
                                </tr>
                                <tr>
                                    <td>Problem </td>
                                    <td>Large sums of documents are printed unnecessarily generating a huge waste of resources
                                        (paper and ink) and hindering the environment</td>

                                </tr>
                                <tr>
                                    <td>Forces

                                    </td>
                                    <td>
                                        <ul style="list-style-type:circle">
                                            <li> The document size is large and is widely used, and almost every person in the
                                                organization wants to print. </li>
                                            <li> The document is in colors, 1 face, spaces between lines and margins are wide.</li>
                                            <li> Oversized images that take much space</li>

                                        </ul>
                                    </td>

                                </tr>
                                <tr>
                                    <td>Solutions</td>
                                    <td>
                                        <ul style="list-style-type:circle">
                                            <li> Disable by defect the print button </li>
                                            <li> If user really needs to print display warning</li>
                                            <li> Show leaderboard/point reward system </li>
                                            <li> Finally print but with print settings changed</li>
                                    </td>

                                </tr>
                                <tr>
                                    <td>Consequences</td>
                                    <td>
                                        <ul style="list-style-type:circle">
                                            <li> Users print less. </li>
                                            <li> Less resources are consumed.</li>
                                    </td>

                                </tr>
                                <tr>
                                    <td>Related Patterns</td>
                                    <td>SOCIAL SHARING</td>

                                </tr>
                            </tbody>
                        </table>
                    </div>


                </div>
            </div>
            <div class=" col-lg-6 col-md-6 col- col-sm-6 col-xs-12 ">
                <div class="white-box">
                    <p class="text-muted">Pattern Example </p>
                    <img class="resize" src='./plugins/images/pat/1Green.png' />
                </div>
            </div>
        </div>

        <div class="row ">
            <div class="white-box">
                <h3 class="box-title">Comment Now</h3>
                <div class="comment-center p-t-10">
                    <div class="comment-body">
                        <div class="mail-contnet">
                            <form id="commentForm" action="pattern1" method="post">
                                <table>
                                    <tr>
                                        <td>
                                            Name:
                                        </td>
                                        <td>
                                            <input id="commenter" type="text" placeholder="John Doe" name="commenter" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Email:
                                        </td>
                                        <td>
                                            <input id="email" type="text" placeholder="john@doe.com" name="email" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Comment
                                        </td>
                                        <td>
                                            <textarea id="commentBody" rows="3" cols="50" placeholder="Patterns are the best!" name="commentBody"></textarea>
                                            <input type="hidden" name="patternid" value="1">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Rate</td>
                                        <td>
                                            <fieldset id='pattern' class="rating" name="pattern">
                                                <input class="stars" type="radio" id="star5" name="rating" value="5" />
                                                <label class="full" for="star5" title="Awesome - 5 stars"></label>
                                                <input class="stars" type="radio" id="star4" name="rating" value="4" />
                                                <label class="full" for="star4" title="Pretty good - 4 stars"></label>
                                                <input class="stars" type="radio" id="star3" name="rating" value="3" />
                                                <label class="full" for="star3" title="Meh - 3 stars"></label>
                                                <input class="stars" type="radio" id="star2" name="rating" value="2" />
                                                <label class="full" for="star2" title="Kinda bad - 2 stars"></label>
                                                <input class="stars" type="radio" id="star1" name="rating" value="1" />
                                                <label class="full" for="star1" title="I dont i like it - 1 star"></label>
                                            </fieldset>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td><button class="submitButton" type="submit" id="commentSubmit">submit</button></td>
                                    </tr>
                                </table>

                            </form>

                        </div>
                    </div>
                </div>


                <div class="row ">
                    <div class="white-box">
                        <h3 class="box-title">Recent Comments</h3>
                        <div class="comment-center p-t-10">
                            <div class="comment-body">
                                <div class="mail-contnet">
                                    <!-- display jade -->