

                        <!-- end display -->
                    </div>
                </div>
            </div>
        </div>


                
                <div class="comment-center p-t-10">
                    <div class="comment-body">
                        <div class="mail-contnet">
                            <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSe-A4Zu49Zn-SWcbxcPTMvsmczn56NkL428G8-sHrD7iyHVAQ/viewform?embedded=true"
                                width="690" height="1000" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
                        </div>
                    </div>
                </div>

                <div class="row justify-content-end">

                    <ol class="breadcrumb">
                        <li class="breadcrumb-item active">Pattern 5</li>
                        <li class="breadcrumb-item"><a href="/pattern6">Pattern6</a></li>
                    </ol>

                </div>