============================================================== -->
<!-- Page Content -->
<!-- ============================================================== -->
<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row bg-title">

            <div class="col-lg-2 col-md-4 col-sm-4 col-xs-12">
                <h3 class="page-title">Please take survey</h3>
            </div>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/pattern9">Pattern9</a></li>
                <li class="breadcrumb-item active">Survey</li>
            </ol>
        </div>
        <!-- /.col-lg-12 -->
        <!-- /row -->
        <!--<div class="row-fluid ">-->

            <div class=" col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12 ">


                <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScPg3B9TCcJcrwAk22e9-smAJ2-mfYWaTwqDB9Sb4sTfyMbyQ/viewform?embedded=true"
                    width="760" height="2350" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>


            </div>





        <!--</div>-->
        <!-- /.row -->
